<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SepandSuitLock.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SepandAsa.IntegratedSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <log4net>
    <!--Enlist=false-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, 
   System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Server=SAJ4;
    Database=SAJDB; User Id=SAJDB_User;Password=123" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],
    [Message],[Exception]) VALUES (@log_date, @thread, @log_level, 
    @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="OOSAddr" value="192.168.1.104" />
    <add key="serverAddr" value="localhost" />
    <add key="serverPort" value="8080" />
    <add key="DefaultSortType" value="DESC" />
    <add key="SVG Path" value="E:\TEMPsaj\Data\WellSchematic.NET\SVG" />
    <add key="Map File" value="E:\TEMPsaj\Data\WellSchematic.NET\SVG\default_map.xml" />
    <add key="DTD Path" value="E:\TEMPsaj\Data\WellSchematic.NET\WellBore\Schemas\wellboredata.dtd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--SAJConnectionString (Attach) value : "FplhiwKMjJFCZ9WcTN/uy4t4ItKoNtouhYD7pXUxGDEkzjBaVRM1f5l/vx6fI2ApHu5y9y0zlk0gbtbyJhlZZw==" -->
    <!--SAJConnectionString Template : server=SERVERNAME;user id=*******;password=******;Pooling=true -->
    <!--SAJConnectionString Types : (Attach, Server,WinAuth)-->
    <add key="SAJConnectionStringType" value="Server" />
    <!--SAJDeployTypes : (ClientServer, SingleUser,SecW,SecWA)-->
    <add key="SAJDeployType" value="ClientServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>       
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    </system.webServer>
  <runtime>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2010.1.700.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SepandAsa.IntegratedSystem.Properties.Settings>
      <setting name="chkAutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="txtAutoUpdateInterval" serializeAs="String">
        <value>60</value>
      </setting>
    </SepandAsa.IntegratedSystem.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SepandSuitLock.Client.Properties.Settings>
      <setting name="SepandSuitLock_Client_SepandAsaWS_SepandAsaWS" serializeAs="String">
        <value>http://192.168.1.101/SAJ_WS/SepandAsaWS.asmx</value>
      </setting>
    </SepandSuitLock.Client.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SAJDataBaseSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:881/SAJWebServices/SAJDataBase.asmx" binding="basicHttpBinding" bindingConfiguration="SAJDataBaseSoap" contract="SAJ.WebServices.SAJDataBase.SAJDataBaseSoap" name="SAJDataBaseSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--Server=localhost-->
    <add name="SAJConnectionString" connectionString="B7Bfr/RSOvq+7L4BDG+6p3iHaTtyRz4VL5VOrCVYiNEl+IuHZ28RFD5uP8xoZqaighWIllYA3nn65hCGi/O1vw==" />
    <!--Server=localhost\SQL2008R2-->
    <!--<add name="SAJConnectionString" connectionString="/gkZ54v46W7Ety7bx5mdxTWqThnWpdBLtD0pzle9LyMu7F4wdcCKegDgbjiieJENYrtaipHUwht9NpQBgwj3nM9uzphn+gsaX35gvcC7+Fg=" />-->
    <!--Server=SAJ-SERVER\SQL2008R2-->
    <!--<add name="SAJConnectionString" connectionString="gNhvgd9flsB3iLuQx0rmLKeqjtYH+3pziimLcUVTJ/+XkZT12NHDzFORoCF0UYPD3UPwRQpN3ZKv+KM+V/h33Rpvx6n0z2nH4Z5FcLSqUdg="/>-->
    <!--Server=.\SQLExpress-->
    <!--<add name="SAJConnectionString" connectionString="EJd9bOA6jjnLtAfCPgyjs/zGfXW1N2+yoBN6LZ3S+RUFRRV4TuYEssyuXxKMYVCwPMGhtweAJIbLTCy+umA5ouJQzcGwLXwBWgdGXR2YsqY=" />-->
    <!--Server=.\MSSQL2014-->
    <!--<add name="SAJConnectionString" connectionString="6NBpyYqVk3TuX9uhEvlXhp3dd8u5qJZ9lxsQYg5oKYyLkPUui762ggfh2I2uvQkQX9u25oN3kqCfcIAYQoJEuybxfWJ/y6Cr56W6Jf3C9PM=" />-->
    <!--Server=172.16.5.235-->
    <!--<add name="SAJConnectionString" connectionString="ulCISuosOA3ZHxQwmioInHSm0cOFFuzgUd0Fd8O1uWKjim7s+fWWcUofWyGvI6tKK0UDHOqVHZjAH3aetEuAmayR0Gu7tFvDJsAJtS8iWXs="/>-->
    <!--Windows Authentication-->
    <!--<add name="SAJConnectionString" connectionString="Server=saj-server;Integrated Security=True"/>-->
    <!--saj2-->
    <!--<add name="SAJConnectionString" connectionString="hZINLKysP0pNI6E/zesPXzl6lT+0yFDds5wloE2DaqvcCe2SdA/Gm6L4vtVbS9w5Gi6JqV1oxxn0VPKegkWpxV/szHkvAAiTZGrgkDiADSk="/>-->
    <!--<add name="SAJ_RepairManagmentSystem" connectionString="hZINLKysP0pNI6E/zesPXzl6lT+0yFDds5wloE2DaqvcCe2SdA/Gm6L4vtVbS9w5Gi6JqV1oxxn0VPKegkWpxV/szHkvAAiTZGrgkDiADSk="/>-->
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
